{% extends 'sns/base.html' %}
{% block detail %}
active
{% endblock %}
{% block body %}
<div class="row mt-3">
    <div class="col-12 col-md-6">
        <div class="card mb-1">
            {% if posting.image %}
                <img src="{{ posting.image.url }}"
                     alt="{{ posting.image }}"
                     class="card-img-top image-fulid">
            {% else %}
                <img src="https://picsum.photos/780/520?random">
            {% endif %}
            <div class="card-body">
                <i class="{{ posting.icon }} fa-2x"></i>
                <hr/>
                <p class="card-text">
                    {{ posting.content }}
                </p>
            </div>
        </div>
    </div>

{% include 'sns/_comments.html' %}
</div>
{% endblock %}